.navbarBrand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarBrandIcon {
    font-size: 20px;
    margin-right: 10px;
}

.navbarBrandText {
    font-size: 30px;
}

.MuiListItemText-primary {
    color: rgb(114, 114, 114);
    font-weight: 300 !important;
}