.login {
    height: 100vh;
    width: 100vw;
    background: rgb(65,173,164);
    background: linear-gradient(156deg, rgba(65,173,164,1) 40%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginLeft {
    display: block;
    margin-bottom: 200px;
    /* border: 5px solid red; */
    text-align: center;
}

.loginBrand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.loginWrapperDiv {
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
}

@media (max-width: 780px) {
    .loginLeft {
        width: 100%;
    }
}