.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  cursor: pointer;

  -webkit-transform: rotateY(var(--rotate-y, 0));
  transform: rotateY(var(--rotate-y, 0));
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  padding: 1rem;
}

.card .front {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.card .back {
  position: absolute;
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(rotateY(180deg)) translateZ(1px);
  backface-visibility: hidden; 
  height: 100%;
  width: 100%;
  overflow-y: auto; 
}

a, a:hover {
  color: inherit; 
  text-decoration: none; 
}

.cardText {
font-size: 25px;
text-align: center;
}

.moreButton {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  position: absolute;
  top: 15px;
  right: 15px;
} 