.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(24, 24, 24, 0.3);
    background-color: white;


    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    
    
    /* -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0)); */
    
    -webkit-transition: 150ms;
    transition: 150ms;
    cursor: pointer;
  }

  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(24, 24, 24, 0.3);
  }
  
  .card.flip {
    --rotate-y: 180deg;
    --translate-z: 0.2px;
  }


  .card .front, .card .back {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    
    /* transform: rotateY(0deg) translateZ(1px);  */
  }

  .card .front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .card .back {
    /* anything that is flipped 180 deg is going to be hidden */
    -webkit-transform: rotateY(180deg) translateZ(var(--translate-z, 0)); 
    transform: rotateY(180deg) translateZ(var(--translate-z, 0)); 
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  @supports (-webkit-touch-callout: none) {
    .card .back{
                white-space: nowrap;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;  
              }
  }
  
  .deleteButton {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  a, a:hover {
    color: inherit; /* Set the link color to inherit from its parent element */
    text-decoration: none; /* Remove the underline from the link */
  }
